<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.xd.learn.mapper.XmlCommUserMapper">
    <select id="getById" resultType="cn.xd.learn.entity.CommUser">
        select * from comm_user where id = #{id}
    </select>
</mapper>